# Nestjs specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp
# 預設忽略的檔案
/shelf/
/.idea/workspace.xml
# 基於編輯器的 HTTP 客戶端請求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
